body{
	background: #eaf6f6; /*powderblue*/
}
hr{
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 5px;
	width: 5%;
}

img{
	width: 200px; 
}

h3,h1{
	color: #66bfbf;
}